*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

html,body{
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root{
  overflow-y: hidden;
  background-color: rgb(29, 33, 35);
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}